html {overflow-x: hidden;}

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	position:relative;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	 /* background: white url(../img/bgslider2.jpg) 50% 105px no-repeat; */
    overflow-x: hidden;
    min-width: 320px;
}
.first_screen_bg {
    background: white url(../img/bgslider2.jpg) 100% no-repeat;
    background-size: cover;
}
img {
    border-style: none;
    vertical-align: middle;
    width: 100%;
}
.top-addres {
    display: flex;
    justify-content: space-around;
    background: #414141;
    padding: 15px 0;
}
.top-addres .left-addr {
    display: flex;
    width: 100%;
    justify-content: center;
}
.top-addres .left-addr .top_addr,
.top-addres .right-addr .top_addr {
padding-right: 20px;
}
.top-addres .left-addr .top_addr span,
.top-addres .right-addr .top_addr span {
    color: white;
}
.top-addres .left-addr span .top_phone,
.top-addres .right-addr span .top_phone {
    color: white;
}
.top-addres .right-addr {
    display: flex;
    width: 100%;
    justify-content: center;

}

select::-ms-expand { display: none; }
select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: #fff url(../img/bg_select.png) 95% 50% no-repeat;
	border: none;
	padding-right: 22px;
	outline: none;
	height: 57px;
	border: 1px solid #393939;
	width: 100%;
	padding-left: 33px;
	font-size: 16px;
	color: #565656;
}


.fancybox-default-skin {
    border-radius: 10px;
}

.footer .disclamer {color:#b8b8b8;font-size:10px;}

a {text-decoration: none;}
a:hover {text-decoration:none;}

.fancybox-type-image .fancybox-close {
    right: 9px;
}

.fancybox-close {
    background: url(../img/bg_close.png) 50% 50% no-repeat !important;
}

.form_screen2 {
    position: absolute;
    top: 21px;
    left: 380px;
    background: #f9f9f9;
    height: 100%;
    width: 322px;
	transition: 0.5s;
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
    max-width: 1140px;
    position: relative;
}

/* slider slick */
.sliderSlick a {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.sliderSlick a img {
    display: inline-block;
}
.sliderSlick {
    margin-top: 50px;
}

.sliderSlick .slick-prev {
    left: -12px;
}

.sliderSlick .slick-next {
    right: -11px;
}

.sliderSlick .slick-prev:before {
    color: #FE0000 !important;
}


.sliderSlick .slick-next:before {
    color:#FE0000 !important;
}
#map-dolgop,
#map-dolgop2 {
    width: 100%;
}
.sliderSlick .slick-prev,
.sliderSlick .slick-next {
    top: 40%;
}
/* slider slick */
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
  
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
    #map1 {
        width: 50%;
        height: 376px;
        background: url(../img/map.jpg);
    }
  }

  @media (min-width: 1140px) and (max-width: 1600px) {
    .single-item {
        left: -385px;
    }

    .slider_container.mobile {
        display: none !important;
    }
  }



input[type=text],
input[type=tel]
{
	color:#686868;
}

.has-danger input,
.has-danger select,
.has-danger textarea
{
	border-width:2px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #eba5a3;
}


#form_popup,#form_popup2,.form_popup2 { display:none; }
.popup_container {width: 380px;max-width:100%;padding: 21px 29px;overflow: hidden;position: relative;box-sizing: border-box;}
.popup_container h2
{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color:black;
	padding: 0px;
	margin: 0px;
	padding-bottom: 17px;
	text-align: center;
}
.popup_container .close
{
	position:absolute;
	right:10px;top:10px;
	width:34px;
	height:34px;
	-moz-transform: rotate(45deg); /* Aey Firefox */
	-ms-transform: rotate(45deg); /* Aey IE */
	-webkit-transform: rotate(45deg); /* Aey Safari, Chrome, iOS */
	-o-transform: rotate(45deg); /* Aey Opera */
	transform: rotate(45deg);
	cursor:pointer;
}
.popup_container .close:before
{
	content:'';
	position:absolute;
	left:0px;top:16px;
	width:34px;height:1px;
	display:block;
	background-color:#a8a8a8;
}
.popup_container .close:after
{
	content:'';
	position:absolute;
	left:16px;top:0px;
	width:1px;height:34px;
	display:block;
	background-color:#a8a8a8;
}


.popup_container .form-group input[type=text],
.popup_container .form-group input[type=tel] {
    color: black;
    border: 1px solid #888888;
    display: block;
    border-radius: 0px;
    height: 54px;
    line-height: 44px;
    text-decoration: none;
    text-align: aoaa;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.popup_container .form-group button {cursor: pointer;outline: none;border: none;}
.popup_container .form-group button:before {display:none;}
.popup_container .form-group button:after {display:none;}

.popup_container .form-disclamer {
    color: #b8b8b8;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

form {
}
form .form-group {
    margin-bottom: 5px;
    position: relative;
}

form .form-group input[type=text], form .form-group input[type=tel] {height: 57px;width: 100%;border: 1px solid black;border-radius: 0px;padding: 0px 20px;color: #495b65;font-size: 14px;padding-left: 40px;box-sizing: border-box;font-family: 'Open Sans', sans-serif;}
form .form-group button {width: 100%;font-family: 'Open Sans', sans-serif;cursor: pointer;}

label {
    color: white;
    font-size: 12px;
    position: relative;
}

label input[type='checkbox'] {
    display: none;/* <--скрываем дефолтный чекбокс */
}
label span {/* <-- стилизируем новый */
    height: 6px;
    width: 6px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #000;
    border-radius:2px;
    padding:3px;
    margin-right: 3px;
    top: 3px;
}
[type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:14px;
    color: #cccccc;
}

label a {
    color: white;
    text-decoration: underline;
    text-decoration-style: dashed;
}


.form_title {color: #435967;font-size: 22px;padding: 0px;margin: 0px;text-align: right;padding-bottom: 58px;}
.form_title span {
    display: block;
    color: #aa2635;
    white-space: nowrap;
}

.btn {
    height: 56px;
    width: 320px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px;
    display: block;
}

.btn.blue {
    background: #FE0000;
}

.btn.blue:hover {
    background: #5B5B5B;
}

.btn.gray {
    background: #d7d7d7;
}

.btn.gray:hover {
    background: black;
    color: white;
}

.btn.red {
    background: #FE0000;
}

.btn.red:hover {
    background: #312d2d;
}

.btn.black {
    background: black;
}

.btn.black:hover {
    background: #d7d7d7;
    color: black;
}
.price-dell {
    position: relative;
    font-size: 40px !important;
}

.price-dell:before {
    content: "";
    border-bottom: 3px solid #FE0000;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: rotate(-5deg);
    top: 0;
}
/******************************************************************************************************************************/


header {
    /* position: fixed; */
    background:white;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.13);
}

header .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .header_container .isuzu-logo {
    max-width: 200px;
}

header .header_container .btn {
    width: 100%;
    height: 40px;
    line-height: 38px;
    /* border-radius: 5px; */
    position: relative;
    overflow: hidden;
    font-size: 18px;
    margin-top: 10px;
    padding: 0 20px;
}

header .header_container .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    background: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8),hsla(0,0%,100%,0)) no-repeat -2px 0;
    width: 30px;
    height: 100%;
    opacity: .5;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    -webkit-animation: runbeam 4s ease-in-out 2s infinite;
    animation: runbeam 4s ease-in-out 2s infinite;
}

@-webkit-keyframes runbeam {
    20%,to {
        left:-webkit-calc(100% + 10px);
        left:calc(100% + 10px);
    }
}
@keyframes runbeam {
    20%,to {
        left:-webkit-calc(100% + 10px);
        left:calc(100% + 10px);
    }
}

header .header_container .btn span {
    position: relative;
    /* padding-left: 30px; */
}

header .header_container .btn span:before {
    /* content: url(../img/top_phone_btn.png); */
    position: absolute;
    left: 0;
    top: -5px;
}

.top_addr span {
    font-size: 17px;
    color: black;
    font-weight: 500;
    position: relative;
    padding-left: 20px;
}

.top_addr span:before {
    /* content: url(../img/loc_top.png); */
    content: url(../img/loc_top_white.png);
    position: absolute;
    left: 0;
}

.top_phone {
    color: black;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    padding-left: 20px;
}

.top_phone:hover {
    color: #FE0000;
}

.top_phone:before {
    content: url(../img/phone_top_white.png);
    position: absolute;
    left: 0;
}

.top_phone:hover:before {
    content: url(../img/phone_top_hover.png);
    position: absolute;
    left: 0;
}

.logo2 {
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}


/* first-screen */

.first_screen_bg {
    position: relative;
    overflow: hidden;
    /* padding-top: 104px; */
}

.first_screen {
    position: relative;
    z-index: 2;
}

.ttl_ico {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
}

.glass_bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 104;
    height: 100%;
}

.single-item {
    width: 1903px;
    position: absolute !important;
    /* z-index: 0; */
}

.slider_container.mobile {
    display: none !important;
}

.slick-next {
    cursor: pointer !important;
}

.title1 {
    font-size: 53px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-top: 50px;
}

.pl_dist {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    padding: 10px 0 10px 20px;
    background: url(../img/pl_dist.png) 0 0 no-repeat;
}

.dist_text {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 26px;
    margin-top: -20px;
    margin-left: -5px;
    font-weight: 400;
}

.dist_text>b {
    font-size: 78px;
    color: #FE0000;
    padding-right: 10px;
}

.dist_text font {
    text-transform: uppercase;
    color: #FE0000;
    font-size: 30px;
    font-weight: 700;
}

.pl_dist .btn {
    position: relative;
    z-index: 1;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27%;
}

.title1 br {
    display: none;
}

.title2,
.title2-mob {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    padding-top: 40px;
    padding-bottom: 5px;
}

.title2 br:first-child {
    display: none;
}

.title_list {
    padding: 0;
    padding-top: 15px;
}

.title_list li {
    font-size: 23px;
    font-weight: 400;
    color: white;
    list-style: none;
    padding: 0;
    position: relative;
    padding-left: 45px;
    padding-top: 7px;
    width: 45%;
}

.title_list li a {
    color: white;
}

.title_list li:before {
    content: url(../img/list_top3.png);
    position: absolute;
    left: 0;
    z-index: 2;
    top: 10px;
}

.title_list li:nth-child(2):before {content: url(../img/list_top2.png);}
.title_list li:nth-child(3):before {content: url(../img/list_top5.png);}
.title_list li:nth-child(4):before {content: url(../img/list_top4.png);}
.title_list li:nth-child(5):before {content: url(../img/list_top1.png);}
.title_list li:nth-child(6):before {content: url(https://promo-mazda.ru/img/list_top7.png);}
.title_list li:nth-child(7):before {content: url(../img/list_top6.png);}

.title_list li:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 16px;
    z-index: 1;
    background: #FE0000;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.title_list li:hover:after {
    background: #5b5b5b;
}

#form1 {
    padding: 0;
    width: 65%;
    padding-bottom: 10px;
    padding-top: 20px;
}

#form1 .btn {
    border: none;
    position: relative;
    overflow: hidden;
    height: 55px;
    font-size: 18px;
}

#form1 .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    background: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8),hsla(0,0%,100%,0)) no-repeat -2px 0;
    width: 30px;
    height: 100%;
    opacity: .5;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    -webkit-animation: runbeam 4s ease-in-out 2s infinite;
    animation: runbeam 4s ease-in-out 2s infinite;
}

#form1 .form-group input[type="tel"],
#form1 .form-group input[type="text"] {
    background:#414141;
    color:white;
    border: none;
    height: 55px;
}

#form1 .form-group-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 15px;
}

#form1 .form-group {
    width: 48%;
}

.form-group.button_mob {
    display: none;
}

.slick-track a p {
    color: black;
}
/* cars_menu */


.cars_menu_bg {
    background: #d7d7d7;
}

.cars_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #bebebe; */    
}

.cars_menu_item {
    padding: 35px 20px;
    /* border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7; */
    width: 100%;
    color: black;
    display: block;
}

.cars_menu_item a {
    text-transform: none;
    color: black;
}

.cars_menu_item:hover a {
    text-transform: none;
    color: white;
}

/* .cars_menu_item:first-child {
    border-left: 1px solid #bebebe;
} */

/* .cars_menu_item a {
    color: black;
} */

.cars_menu_item:hover {
    background: #363636;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black; */
    color: white;
}

.cars_menu_item:hover img {
    transition: all .1s linear;
}

.cars_menu_item:hover img {
    transform: scale(1.1);
}

.cars_menu_item.active {
    /* background: #363636; */
    /* border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black; */
    /* color: white; */
}

.menu_img {
    padding-bottom: 15px;
}

.cars_menu_item span {
    font-weight: 500;
    padding-left: 20px;
    text-transform: uppercase;
}


/* cars-items */


.car_item:after {
    content: "";
    width: 38%;
    height: 2px;
    background: black;
    position: absolute;
    top: 110px;
    left: 0;
}

/* .cars_items_bg.widthstrike:after {
    width: 45%;
} */
.sqw-list{
    list-style: none;
    font-size: 25px;
    /* color: #FE0000; */
}
.sqw-list span{
    color: #000;
}
.sqw-list li{
    padding: 10px 0;
    font-size: 20px;
    position: relative;
}
.sqw-list li::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FE0000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}

.cars_items {
    padding: 0;
}
.top_contact {
    text-align: right;
}
.car_item {        
    background: url(../img/cars_bg.jpg) top no-repeat;
    position: relative;
    width: 100%;
    height: 0px;
    /* opacity: 0; */
    /* transition: all .5s linear; */
    visibility: hidden;
    height: 100%;
    /* opacity: 1; */
    visibility: visible;
    padding-top: 50px;
    /* margin-bottom: 50px; */
}

.car_item .container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    flex-wrap: wrap;
    margin-bottom: 50px;
    /* padding: 0; */
}

/* .car_item.active {    
    height: 100%;
    opacity: 1;
    visibility: visible;
} */

.img_container {
    width: 48%;
}

/* .car_item:first-child .img_container {
    margin-left: 22px;
} */

.car_item .car_name {
    font-size: 48px;
    color: black;
    font-weight: 600;
    opacity: 1;
}

/* .car_item.active .car_name {
    font-size: 48px;
    color: black;
    font-weight: 600;
    opacity: 1;
    transition: .5s all linear;
} */

.car_image {
    padding-top: 150px;
    position: relative;
}

.isuzu_nqr .car_image {
    top: -110px;
    padding-top: 238px;
    width: 85%;
}

.mazda_6 .car_image {
    top: -110px;
    padding-top: 288px;
}

.mazda3_hatchback .car_image,
.mazda3_sedan .car_image {
    top: -110px;
    padding-top: 238px;
}

/* .car_item.active .car_image img {
    margin-left: 0;
    opacity: 1;
    transition: .7s all linear;
} */

.car_item .car_image img {
    margin-left: 0;
    opacity: 1;
    transition: all .2s linear;
}

.car_item .car_image img:hover {
    margin-left: -10px;
}

.car_btns1 {
    /* margin-left: auto; */
    width: 100%;
    z-index: 1;
    position: relative;
    padding-bottom: 15px;
}

.car_btns1 .btn {
    width: 100%;
    color: black;
    margin-top: 15px;
    font-size: 18px;
}

.cred_disc {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    display: none;
}

#mazda3_sedan .car_complects_profit ,
#mazda3_hatchback .car_complects_profit .profit {
    display: none;
}

.info_container {
    position: relative;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cars_count {
    text-transform: uppercase;
    /* position: absolute; */
    top: 10px;
    right: 0;
    font-size: 10px;
    line-height: 140%;
}
.wrap-cars-count {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.cars_count a {
    color: black;
}

.cars_count b {
    font-size: 66px;
    color: #FE0000;
}

.cars_count:hover b {
    color: black;
}

.cars_count span {
    font-size: 21px;
    text-transform: uppercase;
}
.slick-wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}
.cars_count font {
    padding-left: 10px;
}

.info_container_title {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.info_container_title span {
    font-size: 30px;
}

.car_complects {
    padding-top: 15px;
    order: 2;
}

.car_complects_title {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    /* float: left; */
}

.car_complects_compl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    /* flex-wrap: wrap; */
    /* padding-left: 40px; */
}

.mazda3_sedan .car_complects_compl,
.mazda3_hatchback .car_complects_compl,
.isuzu_nqr .car_complects_compl,
.mazda_cx9 .car_complects_compl {
    padding-bottom: 49px;
}

.compl_btn {
    font-size: 16px;
    color: black;
    font-weight: 500;
    width: 100%;
    padding: 15px 20px;
    background: #d7d7d7;
    color: black;
    /* border: 1px solid #101010; */
}

.mazda_6 .car_complects_compl {
    flex-wrap: wrap;
}

.mazda_6 .compl_btn {
    width: 17%;
}

.compl_btn:hover {
    background: #FE0000;
    color: white;
}

.compl_btn.active {
    background: #101010;
    color: white;
}

.car_complects_ingine_title {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}

.car_complects_engine {
    padding-top: 20px;
}

.car_complects_engine select {
    border: none;
    color: black;
    display: none;
    border: 1px solid #ccc;
}

.car_complects_engine select:hover {
    border: 2px solid #000;
    padding-left: 32px;
    background: #fff url(../img/bg_select_hover.png) 95.3% 50% no-repeat;
}

.engine {

}

.car_complects_price {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    display: block;
}

.car_complects_price span {
    font-size: 48px;
    text-decoration: line-through;
}

.car_complects_profit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    flex-flow: wrap;
}

.car_complects_profit > div {
    width: 50%;
}

.credit a {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.credit a span {
    font-size: 36px;
}

.credit a b {
    font-size: 30px;
    font-weight: 500;
}

.credit:hover a span {
    color: #FE0000;
}

.profit a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.profit a span {
    font-size: 36px;
}

.profit a b {
    font-size: 30px;
    font-weight: 500;
}

.profit:hover a span {
    color: #FE0000;
}

.first_pay {
    margin-top: 30px;
}

.first_pay a{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.first_pay a span {
    font-size: 36px;
}

.first_pay a b {
    font-size: 30px;
    font-weight: 500;
}

.first_pay:hover a span {
    color: #FE0000;
}

.car_btns2 {
    width: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 15px;
}

.car_btns2 .btn{
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
}

.car_btns2 .glass {
    color: #000;
    border: 1px solid #d7d7d7;
    font-weight: 700;
    height: 40px;
    text-transform: none;
    width: 99%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car_item_bottom{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 0;
    margin-left: 40px;
}

.car_item_bottom .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* .car_item_bottom.active {
    width: 100%;
} */

.car_item_bottom .item {
    /* padding-left: 45px; */
}

.car_item_bottom .item.last_item_bottom {
    max-width: 46%;
}

.car_item_bottom .item a div{
    font-size: 18px;
    font-weight: 600;
    padding-left: 45px;
    color: black;
    position: relative;
}

.car_item_bottom .item.last_item_bottom:hover a div {
    color: #FE0000;
}

.car_item_bottom .item a div:before {
    content: url(../img/car_tradein.png);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.car_item_bottom .item:nth-child(2) a div:before {
    content: url(../img/car_card.png);
}

.car_item_bottom .item:nth-child(3) a div:before {
    content: url(../img/car_tire.png);
}

.car_item_bottom .item:hover a div:before {
    content: url(../img/car_tradein_hover.png);
}

.car_item_bottom .item:hover:nth-child(2) a div:before {
    content: url(../img/car_card_hover.png);
}

.car_item_bottom .item:hover:nth-child(3) a div:before {
    content: url(../img/car_tire_hover.png);
}

.car_item_bottom .item span {
    color: #FE0000;
}

.car_item_bottom .item:nth-child(1).active {
    width: 22%;
}

.car_item_bottom .item:nth-child(2).active {
    width: 15%;
}

.up_btn {
    text-align: center;
    margin: 100px 0 30px 0;
    display: block;
}

.up_btn .up {
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    /* text-decoration: underline; */
    border: 1px solid #d7d7d7;
    padding: 20px 140px;
}

.up_btn:hover .up {
    color: white;
    border: 1px solid #FE0000;
    background: #FE0000;
}
/****************************************************************************************************/


/* ADDS */

.adds {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* background: rgba(17, 17, 17, 0.6); */
    margin: 20px 0; 
    /* padding: 5px 45px 35px 45px; */
    border-radius: 0 0 50px 50px;
    
}
.adds .item-img-wrapp {
    width: 46px;
    text-align: center;
    
}
/* .item-img-wrapp .item-h1:hover {
   background: url(../img/adds_ico_1_a.png) no-repeat;
} */
.adds .item {
    color: white;
    display: block;
    /* width: 33%;
    margin-top: 30px;
    padding-top: 45px; */
    /* background: url(../img/adds_ico_1.png) left top no-repeat; */
}
.adds .item-wrap {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.adds .item-wrap .item{
font-size: 20px;
padding-left: 20px;
}
.item-wrap img {
    width: 38px;
    height: 38px;
}
.item-wrap .shild {
      width: 24px;
      height: 31px;
}
.item-wrap .arrow {
    width: 26px;
    height: 34px;
}
.item-wrap .plus {
    width: 39px;
    height: 39px;
}
.adds .item:hover {
    /* color: #35719E; */
    /* background: url(../img/adds_ico_1_a.png) left top no-repeat; */
}

.adds .item:nth-child(2) {
    /* background: url(../img/adds_ico_2.png) left top no-repeat; */
}

.adds .item:nth-child(3) {
    /* background: url(../img/adds_ico_3.png) left top no-repeat; */
}

.adds .item:nth-child(4) {
    /* background: url(../img/adds_ico_4.png) left top no-repeat; */
}

.adds .item:nth-child(5) {
    /* background: url(../img/adds_ico_5.png) left top no-repeat; */
}

.adds .item:nth-child(6) {
    /* background: url(../img/adds_ico_6.png) left top no-repeat; */
}


.adds .item:nth-child(2):hover {
    /* background: url(../img/adds_ico_2_a.png) left top no-repeat; */
}

.adds .item:nth-child(3):hover {
    /* background: url(../img/kasko_a.png) left top no-repeat; */
}

.adds .item:nth-child(4):hover {
    /* background: url(../img/adds_ico_4_a.png) left top no-repeat; */
}

.adds .item:nth-child(5):hover {
    /* background: url(../img/adds_ico_5_a.png) left top no-repeat; */
}

.adds .item:nth-child(6):hover {
    /* background: url(../img/adds_ico_6_a.png) left top no-repeat; */
}



/****************************************************************************************************/
/* about */

.about_bg {
    background: url(../img/darkIsuzu70.jpg) center no-repeat;
    /* background-color: #000; */
}

.about_bg .container {
    margin-bottom: 0;
    display: block;
}

.about {
    padding-bottom: 80px;
}

.about_title {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-top: 80px;
}

.about_list {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 30px;
}

.about li {
    font-size: 25px;
    font-weight: 400;
    color: white;
    list-style: none;
    padding: 0;
    position: relative;
    padding-left: 50px;
    padding-top: 20px;
    width: 50%;
}

.about li span {
    text-transform: uppercase;
    color: #FE0000;
}

.about li:hover span {
    color: white;
}

.about li a {
    color: white;
}

.about li:before {
    content: url(../img/checked.png);
    position: absolute;
    left: 0;
    z-index: 2;
}

.about_comment {
    color: white;
    font-size: 23px;
    position: relative;
    width: 390px;
    padding: 15px 0;
    padding-left: 5px;
    margin-left: 50px;
}

.about_comment:before {
    content: "";
    background: white;
    height: 1px;
    width: 390px;
    position: absolute;
    left: 0;
    top: 0;
}

.about_comment:after {
    content: "";
    background: white;
    height: 1px;
    width: 390px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
.strike {
    background: #828181;
    width: 50%;
    height: 3px;
    margin-top: -3px;
}
*/

.cont_images {
    display: flex;
    background: #000;
}

.cont_img_item {
    display: block;
    width: 20%;
    overflow: hidden;
}

.cont_img_item img {
    transition: transform .3s;
}

.cont_img_item:hover img {
    transform: scale(1.05);
}

.contacts_bg {
    background: black;
    padding: 80px 0;
}

.contacts_bg .container {
    display: block;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts_title {
    font-size: 48px;
    color: #828181;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.bottom_addr {
    font-size: 16px;
    color: white;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.bottom_addr:before {
    content: url(../img/bottom_loc-red.png);
    position: absolute;
    bottom: -3px;
    left: 0;
}

.work_time {
    font-size: 14px;
    color: white;
    padding-left: 40px;
    position: relative;
}

.work_time:before {
    content: url(../img/work_time-red.png);
    position: absolute;
    bottom: -3px;
    left: 0;
}

.bottom_phone {
    color: #FE0000;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-left: 40px;
}

/* #security-soglas:hover ~ .test {
    display: block!important;
} */
.policy-soglas{
    color: #b8b8b8;
}
.bottom_phone:before {
    content: url(../img/bottom_phone-red.png);
    position: absolute;
    bottom: -3px;
    left: 0;
}
.cont_images .cont_img_item {
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.contacts_bg2 {
    background: black;
}

.map_form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#map1 {
    width: 60%;
    height: 376px;
    background: url(../img/map.jpg) 50%;
}

.logo3 {
    padding-top: 45px;
}

.contact_form {
    width: 100%;
/*    background: url(../img/contacts_bg.jpg) top no-repeat;*/
    display: flex;
    justify-content: center;
}

.cont_wrap {
    width: 30%;
}

.contact_form_title {
    font-size: 24px;
    color: white;
    padding-top: 30px;
    text-align: center;
}

.contact_form_title span {
    text-transform: uppercase;
}

#form2 {
    padding: 20px 0 30px 0;
}

#form2 .btn {
    border: none;
}

#form2 .form-group input[type="tel"],
#form2 .form-group input[type="text"] {
    background: white;
    color:black;
}

/* #form2 .form-group-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#form2 .form-group {
    width: 100%;
}

.logo3 {
    width: 170px;
}

.disclamer_bg {
    background: black;
    padding: 30px 0;
}

.disclamer_bg a {
    color: white;
    text-decoration: underline;
}

.information_text a {
    text-decoration-style: dashed;
}

.disclamer {
    display: none;
    color: white;
}

.disclamer.active {
    display: block;
}



/****************************************************************************************************************************/



/*IPAD PRO BEGIN*/
@media (min-width: 768px) and (max-width: 1199px){

    .single-item {
        width: 180%;
        left: -600px;
    }
    .slider_container.mobile {
        display: none !important;
    }

    .title_list li {
        width: 65%;
    }

    .first_screen_bg {
        padding-top: 93px;
    }

    .glass_bg {
        left: -400px;
        top: 93px;
    }

	#form1 {
        padding: 30px 0 0 0;
    }

    .cars_items {
        padding: 0;
    }

    .car_item.active .car_name {
        margin-bottom: 20px;
    }

    .car_item .img_container {
        margin-left: 0;
    }

    .car_item:first-child .img_container {
        /* margin-left: 0; */
    }

    .cars_count {
        top: 20px;
    }

    .car_item_bottom .item {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .car_item_bottom .item:nth-child(1).active {
        width: 22%;
    }

    .car_item_bottom {
        margin-left: 0;
    }

    .car_item_bottom .item a div {
        font-size: 16px;
    }

    .car_complects_compl {
        /* padding-left: 20px; */
    }

    .mazda_6 .compl_btn {
        width: 16%;
    }

    .isuzu_nqr .car_image {
        top: -110px;
        padding-top: 277px;
    }

    .mazda_6 .car_image {
        top: -110px;
        padding-top: 325px;
    }

    .mazda3_hatchback .car_image, .mazda3_sedan .car_image {
        top: -110px;
        padding-top: 276px;
    }

    .mazda3_hatchback .car_image {
        top: -110px;
        padding-top: 277px;
    }

    .credit a span {
        font-size: 28px;
    }

    .profit a span {
        font-size: 28px;
    }

    .about_bg {
        /* background: url(../img/about_bg.jpg) 60% no-repeat; */
    }
    
    .about {
        padding-bottom: 55px;
    }

    .contacts_title {
        font-size: 30px;
    }

    .cont_wrap {
        width: 75%;
    }
    .title2 {
        padding-bottom: 110px;
    }

}
/*IPAD PRO BEGIN*/

/*IPAD BEGIN*/
@media (min-width: 768px) and (max-width: 991px) {


    
    .cont_wrap {
        width: 90%;
    }

    .single-item {
        width: 240%;
        left: -600px;
    }
    .slider_container.mobile {
        display: none !important;
    }

    header .header_container .logo {
        /* width: 8%; */
    }

    header .header_container .btn {
        width: 280px;
    }

    .top_addr span {
        font-size: 14px;
    }

    .top_addr::before {
        bottom: 0;
    }

    .top_phone {
    font-size: 14px;
    }

    .top_phone::before {
        bottom: 0;
    }

    .logo2 {
        width: 18%;
        font-size: 10px;
        font-weight: 500;
    }

    .title1 {
        font-size: 48px;
    }

    .title_list li {
        width: 70%;
    }

    #form1 {
        width: 100%;
    }

    .cars_menu_item {
        padding: 20px 0px;
    }

    .cars_menu_item span {
        padding-left: 15px;
        font-size: 11px;
    }

    .car_item .img_container {
        margin-left: 0;
    }

    .car_item.active .car_name {
        margin-bottom: 0;
    }

    .car_item:first-child .img_container {
        /* margin-right: 0; */
    }

    .car_item.active .car_name {
        font-size: 36px;
    }

    .isuzu_nqr .car_image {
        top: -110px;
        padding-top: 263px;
    }

    .mazda_6 .car_image {
        top: -110px;
        padding-top: 263px;
    }

    .mazda3_hatchback .car_image, .mazda3_sedan .car_image {
        top: -110px;
        padding-top: 214px;
    }

    .mazda3_hatchback .car_image {
        top: -110px;
        padding-top: 156px;
    }

    .mazda_cx9 .car_image {
        top: -110px;
        padding-top: 278px;
    }

    /* .car_item:first-child .img_container {
        margin-left: 14px;
    } */

    .car_btns1 {
        width: 100%;
    }

    .info_container_title {
        font-size: 16px;
    }
    .info_container_title span {
        font-size: 24px;
    }

    .car_complects_engine {
        padding-top: 0;
    }

    .car_complects_price {
        font-size: 20px;
        padding-top: 20px;
    }

    .car_complects_price span {
        font-size: 36px;
    }

    .car_complects_credit,
    .car_complects_profit {
        justify-content: space-around;
    }

    .compl_btn {
        width: 21%;
    }

    .mazda_6 .compl_btn {
        width: 21%;
    }

    .car_complects_compl {
        /* padding-left: 30px; */
        flex-wrap: wrap;
    }

    .isuzu_nqr .car_complects_compl, 
    .mazda_cx9 .car_complects_compl {
        padding-bottom: 0;
    }

    .car_item_bottom .item:nth-child(1).active {
        width: 28%;
    }

    .car_item_bottom .item:nth-child(2).active {
        width: 20%;
    }

    .credit a span {
        font-size: 18px;
    }

    .credit a b {
        font-size: 18px;
    }

    .profit a span {
        font-size: 18px;
    }

    .profit a b {
        font-size: 18px;
    }

    .car_btns2 {
        padding-top: 0;
    }

    .car_btns1 .btn,
    .car_btns2 .btn {
        margin-top: 5px;
        font-size: 16px;
    }

    .about {
        padding-bottom: 80px;
    }

    .about_title {
        font-size: 30px;
    }

    .about li {
        font-size: 20px;
    }

    .contacts_bg {
        padding: 40px 0;
    }

    .contacts {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contacts_title {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .bottom_phone {
        padding-top: 20px;
    }

    #form2 .form-group {
        width: 92%;
    }
  
}
/*IPAD END*/

/*MOBILE BEGIN*/
@media (max-width: 767px) {

    .ttl_ico {
        display: none;
    }
    
	.car_complects_ingine_title { margin-bottom:4px; }
	.car_complects_title
	{ margin-right:auto; }
    .cont_images {
        flex-flow: wrap;
    }
    
    .cont_img_item {
        width: 50%;
    }
    
    .cont_img_item:first-child {
        /* display: none; */
    }
    
    .cont_wrap {
        width: 100%;
        padding: 0 10px;
    }
	
	.fancybox-type-image {width: 100% !important;margin: 0px !important;left: 0px !important;}
	.fancybox-close {right: 9px !important;top: -21px !important;}
	.fancybox-inner {width: 100% !important;margin: 0px !important;padding: 0px !important;}
	.fancybox-wrap {margin:0px !important;width: 100% !important;left: 0px !important;}
	.fancybox-type-image .fancybox-close {top: -8px !important;}

    .popup_container {width:100%;}
    
    body {
        background: url(../img/bgslider2.jpg) 100% 300px no-repeat;
        background-size: auto 195px;
    }
    
    .first_screen {
        /*margin-top: 265px;*/
	display:flex; flex-direction:column;
    }
    
    .dist_text {
        margin: 0;
        font-size: 18px;
        text-align: center;
    }
    
    .dist_text font {
        font-size: 18px;
	color:white;
    }
    
    .dist_text br {
        display: none;
    }
    
    .pl_dist .btn {
        width: 100%;
    }
    
    .pl_dist {
        width: 100%;
        background: #2b2b2b;
        padding: 20px 15px;
        margin-left: -15px;
        margin-top: 0;
	order:1;
	margin-top: 225px;
    }
    
    header .header_container {
        padding: 10px 0;
        flex-wrap: wrap;
    }

    header .header_container .logo {
        width: 15%;
    }

    header .header_container .btn {
        width: 100%;
        order: 2;
        margin-top: 10px;
    }

    header .header_container .top_contact {
        order: 1;
    }

    .top_addr span {
        font-size: 17px;
    }

    .top_addr:before {
        bottom: 0;
    }

    .top_phone {
    font-size: 17px;
    }

    .top_phone:before {
        bottom: 0;
    }

    .logo2 {
        display: none;
    }

    .first_screen_bg {
        position: static;
        padding-top: 123px;
    }

    .single-item {
        width: 115%;
        position: absolute !important;
        z-index: 3;
        left: -15%;
        top: 435px;    
    }
    .slider_container.desktop {
        display: none !important;
    }
    .slider_container.mobile {
        display: block !important;
    }

    .slick-next {
        /* display: none !important; */
    }

    .glass_bg {
        display: none;
    }

    .title1 {
        font-size: 44px;
        padding-top: 10px;
        color: black;
        text-align: center;
    }

    .title1 br {
        display: block;
    }

    .title2 {
        font-size: 36px;
        color: black;
        padding-top: 15px;
        text-align: center;
	order:0;
        padding-bottom: 200px;
    }

    .title2 span {
        font-size: 40px;
        text-transform: none;
        font-weight: 500;
        font-weight: 600;
        display: block;
        padding-top: 10px;
    }

    /* .title2 br:first-child {
        display: none;
    } */

    /* .title2 {
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        padding-top: 20px;
    } */

    .title_list {
        padding: 0;
/*        padding-top: 180px;    */
        padding-left: 20px;
	order:3;
    }

    .title_list li {
        width: 70%;
        font-size: 22px;
        padding-top: 20px;
    }

    .title_list li a {
        color: black;    
    }

    .title_list li:after {
        left: -7px;
        top: 10px;
        width: 42px;
        height: 42px;
    }

    .title_list li:nth-child(3):after {
        top: 13px;
    }

    .title_list li:nth-child(4):after {
        top: 12px;
    }

    .title_list li:nth-child(5):after {
        top: 13px;
    }

    .title_list li:nth-child(6):after {
        left: -4px;
    }

    .title_list li:before {
        top: 19px;
    }

    #form1 .btn {
        font-size: 16px;
    }

    #form1 {
        width: 100%;
        padding: 20px 0;
    }

    #form1 .form-group-wrapper {
        flex-wrap: wrap;
    }

    #form1 .form-group {
        width: 100%;    
    }

    #form1 label {
        color: black;
    }

    #form1 label a {
        color: black;
    }

    #form1 .form-group input[type="tel"], 
    #form1 .form-group input[type="text"] {
        background:white;    
        color: black;    
        border: 1px solid black;    
    }

    #form1 {
        display: none;
    }
    
    
    .form-group.button_mob {
        display: block;
	order:3;
    }

    .form-group.button_mob .btn {
        width: 100%;
        margin: 20px 0;
    }



    .cars_item:after {
        display: none;
    }

    .cars_menu {
        flex-wrap: wrap;
        justify-content: flex-start;    
        align-items: flex-start;
    }

    .cars_menu_bg {
        background: #d7d7d7;
        margin-bottom: 50px;
    }    

    .cars_menu_item {
        padding: 20px 0px;
        border: none;
        text-align: center;
        width: 30%;
        margin-right: 12px;
    }

    .cars_menu_item:first-child {
        border-left: none;    
    }

    .cars_menu_item span {
        padding-left: 0;
        font-size: 14px;
    }

    .car_item.active .car_name {
        font-size: 36px;
    }

    .cars_items_bg {
        background: url(../img/cars_bg.jpg) 10% 0 no-repeat;
        background-size: 149%;    
        background: none;
    }

    .cars_items {
        padding: 0;    
    }

    .car_item .container{
        flex-wrap: wrap;    
    }

    .car_item {
        padding-top: 110px;
    }

    .car_item:first-child {
        padding-top: 0;
    }

    .car_item:after {
        display: none;
    }

    .car_item_bottom .item.last_item_bottom {
        max-width: 100%;
    }

    .isuzu_nqr .car_btns1 {
        /* width: 100%; */
        /* position: static; */
        /* bottom: 184px; */
        /* left: 15px; */
        /* margin: 0px; */
    }

    .img_container,
    .info_container{
        width: 100%;
        position: static;
        order: 0;
    }

    .info_container {
        padding-top: 0px;
        margin: 0;
        position: static;
        margin-top: 40px;
        order: 1;
    }

    .car_image {
        padding-top: 20px !important;
	top:0px !important;
    }
    
    .isuzu_nqr .car_image {
        top: 0;
        padding-top: 20px;
        position: static;
    }

    .cars_count {
        top: 276px;
        right: 15px;
        position: static;
        float: right;
        padding-bottom: 10px;
        display: block;
    }

    .car_btns1 {
        width: 100%;
        position: absolute;
        /* margin-top: 100px; */
        bottom: -122px;
        left: 15px;
        width: calc( 100% - 30px );
    }

    .info_container_title {
        font-size: 16px;
        position: static;
        top: 261px;
        float: left;
        order: 2;
        display: block;
        margin-top: -14px;
        padding-bottom: 20px;
    }
    .info_container_title span {
        font-size: 24px;
    }

    .car_complects_compl {
        flex-wrap: wrap;
        padding-left: 0px;
	padding-top:4px;
    }

    .mazda3_sedan .car_complects_compl,
    .mazda3_hatchback .car_complects_compl,
    .isuzu_nqr .car_complects_compl,
    .mazda_cx9 .car_complects_compl {
        padding-bottom: 0;
    }

    .compl_btn {
        width: 21% !important;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .car_complects_engine {
        padding-top: 0;
    }

    .car_complects_price {
        font-size: 20px;
        padding-top: 20px;
    }

    .car_complects_price span {
        font-size: 36px;
    }

/*
    .car_complects_credit,
    .car_complects_profit {
        justify-content: space-around;
    }
*/

    .credit a span {
        font-size: 18px;
    }

    .credit a span span {
        font-size: 32px;
    }

    .credit a b {
        font-size: 18px;
    }

    .profit a span {
        font-size: 18px;
    }

    .profit a span span {
        font-size: 32px;
    }

    .profit a b {
        font-size: 18px;
    }
    
    .first_pay a span{
        font-size: 18px;
    }
    
    .first_pay a b {
        font-size: 18px;
    }

    .car_btns2 {
        padding-top: 0;
    }

    .car_btns1 .btn,
    .car_btns2 .btn {
        margin-top: 5px;
        font-size: 16px;
    }

    .car_btns2 {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    
    .car_btns2 .glass {
        font-size: 14px;
    }

    .car_item_bottom {
        flex-flow: wrap;
        margin-bottom: -20px;
        margin-left: 0;
    }

    .car_item_bottom .item {
        padding-left: 0;
        padding-top: 20px;
        width: 100%;
    }

    .car_item_bottom .item:nth-child(1).active,
    .car_item_bottom .item:nth-child(2).active {
        width: 100%;
    }

    .up_btn {
        margin: 60px 0 30px 0;
    }

    .up_btn .up {
        padding: 20px 30px;
    }

    .about_list {
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about {
        padding-bottom: 50px;
    }

    .about_title {
        font-size: 30px;
    }

    .about li {
        font-size: 20px;
    }

    .contacts_bg {
        padding: 40px 0;
    }

    .contacts {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contacts_title {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .bottom_phone {
        padding-top: 20px;
    }

    #form2 .form-group {
        width: 92%;
    }

    .about_bg {
        background: black;
        margin-top: 150px;
    }

    .about {
        padding-bottom: 70px;    
    }

    .about_title {
        padding-top: 40px;
    }

    .about li {
        width: calc(100% - 50px);    
    }

    .about_comment {
        width: 100%;
        margin-left: 0;    
    }

    .strike {
        width: 100%;
    }

    .contacts {
        justify-content: flex-start;
        flex-wrap: wrap;    
    }

    .bottom_addr {    
        margin-left: 50px;    
        margin-bottom: 15px;
    }

    .work_time {
        margin-left: 50px;  
    }

    .bottom_phone {
        margin-left: 50px;  
    }

    .map_form {
        flex-wrap: wrap;    
    }

    #map1 {
        width: 100%;
        height: 300px;
    }

    .contact_form {
        width: 100%;
/*        background: url(../img/contacts_bg.jpg) 30% no-repeat;*/
        /* padding-left: 15px;     */
        background-position: 30% top;
    }

    .logo3 {
        padding-top: 30px;
    }

    #form2 .form-group {
        width: 97%;    
    }

    .disclamer_bg center {
        padding-top: 10px;
    }

    .call_phone_2 {
        width: 100%;
        padding-top: 20px;
    }
}

@media (min-width: 394px) and (max-width: 403px) {
/*    .isuzu_nqr .car_btns1 {
        bottom: 0;
    }   */
}

@media (min-width: 379px) and (max-width: 393px) {
     /* .isuzu_nqr .car_btns1 {
        bottom: 0;
    }  */
    .car_item .car_name {
        font-size: 40px;
    }


    
}

@media (max-width: 378px) {

    body {
        background-size: auto 175px;
    }
    
    .car_btns2 {
         padding-bottom: 15px;
    }

    .title1 {
        font-size: 36px;
    }

    .title2 span {
        font-size: 36px;
    }

    .single-item {
        top: 410px;    
    }

    .first_screen_bg {
        padding-top: 117px;
    }

    .cars_menu_item {
        margin-right: 11px;
    }

    .cars_items_bg {
        background: url(../img/cars_bg.jpg) 10% 0 no-repeat;
        background-size: 151%;    
        background: none;
    }

    /* .car_btns1 {
        width: 92%;
        position: absolute;
        bottom: 300px;
    } */

    .isuzu_nqr .car_btns1 {
        /* width: 92%; */
        /* position: absolute; */
        /* bottom: 0; */
        /* left: 15px; */
        /* margin: 0px; */
    }

    .car_item .car_name {
        font-size: 40px;
    }
    
    .car_btns2 .glass {
        font-size: 11px;
    }

    .car_complects_compl {
        /* padding-left: 5px; */
    }

    .about_comment:after,
    .about_comment:before {
        display: none;
    }

    .about {
        padding-bottom: 30px;
    }

    .about_title {
        font-size: 20px;    
    }
    .about_comment {
        font-size: 18px;
    }

    .bottom_addr {
        margin-left: 10%;
    }

    .work_time {
        margin-left: 10%;    
    }

    .bottom_phone {
        margin-left: 10%;    
    }

}

@media (max-width: 362px) {

    .title2 {
        font-size: 30px;
        padding-top: 25px;
    }

    .cred_disc {
        font-size: 14px;
    }

    .single-item {
        top: 400px;    
    }

    .first_screen_bg {
        padding-top: 115px;
    }

    .isuzu_nqr .car_btns1 {
        width: 92%;
        position: absolute;
        /* bottom: 0; */
        left: 15px;
    }

    .car_complects_compl {
        padding-left: 10px;
    }

    .compl_btn {
        width: 20%;
    }

    .bottom_addr {
        margin-left: 8%;
    }

    .work_time {
        margin-left: 8%;    
    }

    .bottom_phone {
        margin-left: 8%;    
    }
    
    .title2 span {
        font-size: 32px;
    }

}

@media (max-width: 322px) {

    body {
        background-position: center 300px;
        background-size: auto 146px;
    }
    .top_addr span {
        font-size: 14px;    
    }

    .top_phone {
        font-size: 14px;    
    }

    /* .title1 {
        font-size: 18px;
    } */

    /* .single-item {
        top: 208px;    
    } */


    .title_list li {
        font-size: 18px;    
        margin-top: 5px;
    }
    
    .first_screen_bg {
        padding-top: 110px;
    }

    .cars_count {
        position: static;
    }

    .cars_count font {
        padding-left: 0;    
    }

    .cars_menu_item {
        margin-right: 5px;
        width: 31.6%;
    }

    .car_item.active .car_name {
        font-size: 30px;
    }

    .credit a span span {
        font-size: 26px;
    }

    .profit a span span {
        font-size: 26px;
    }

    .car_btns1 {
        width: 90.5%;
        /*bottom: 0;*/
    }

    .car_item .car_name {
        font-size: 36px;
    }

    .isuzu_nqr .car_btns1 {
        width: 91%;
        position: absolute;
        /* bottom: 0; */
        left: 15px;
    }

    .car_complects_compl {
        padding-left: 0;
    }

    .compl_btn {
        width: 19.5%;
    }

    .info_container_title {
        padding-top: 10px;
    }

    .bottom_addr {
        margin-left: 5%;
    }

    .work_time {
        margin-left: 5%;    
    }

    .bottom_phone {
        margin-left: 5%;    
    }

}
/* my media 10-11-2020 */
.error-ms {
    color: red;
    font-weight: 600;
    text-align: center;
    display: none;
    margin-bottom: 10px;
}
sup {
    font-size: 10px;
}
.cars_items_bg {
    display: flex;
    flex-direction: column-reverse;
}
.midle-side {
    /* display: none; */
}
.bottom-btn-midl-wrap {
    /* display: none; */
}
.bottom-btn-wrap{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-left: 40px;
}
.title2-mob,
.title2-mob2 {
    display: none;
}
@media (max-width: 1248px) {
    .title2 {
        display: none;
    }
    .title2-mob {
        font-size: 21px;
        display: block;
    }
    .title_list li {
        font-size: 20px;
    }
    .contact_form_title {
        text-align: center;
    }
    .contact_form {
        width: 45%;
    }
}
@media (max-width: 1180px) {
.top_addr span {
    font-size: 14px;
}
.title2-mob {
    display: none;
}
.title2-mob2 {
    display: block;
    color: white;
    font-size: 25px;
}
.title_list li {
    font-size: 14px;
}
.mob-container{
    width: 100%;
}
#form1 .top-wrapp-btn {
    width: 78%;
}
.first_screen_bg {
    background: white url(../img/bgslider2-2.jpg) 94% no-repeat;
    background-size: cover;
}
body .about_bg {
    background-color: #000;
}
.form-group-wrapper {
    width: 100%;
}
}

@media (max-width: 974px) {
    .top_addr span {
        font-size: 14px;
    }
    .top-addres .left-addr {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .top-addres .right-addr {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 90%;
    }
    .first_screen_bg {
        background: white url(../img/bgslider3.jpg) 95% no-repeat;
        background-size: cover;
    }
    .sqw-list li {
        font-size: 16px;
    }
    .slick-wrap {
        padding: 50px 50px;
    }
    #form2 .form-group {
        width: 100%;
    }
    #form1 .top-wrapp-btn .form-group {
        width: 37%;
    }
    #form1 .top-wrapp-btn .form-group .btn{
        font-size: 14px;
    }
}
@media (max-width: 856px) {
.top_addr span {
    font-size: 12px;
}
.top_phone {
    font-size: 12px;
}
.logo, .isuzu-logo {
    width: 150px;
}
    .first_screen_bg {
        background: white url(../img/bgslider4.jpg) 95% no-repeat;
        background-size: cover;
    }
    .sqw-list li {
        font-size: 13px;
    }
    .car_btns1 .btn,
    .car_btns2 .btn {
        font-size: 13px;
    }
    .bottom_addr {
        font-size: 12px;
    }
    #form1 .top-wrapp-btn .form-group {
        width: 50%;
    }
}

@media (max-width: 767px){
    header .header_container .btn {
        width: 95%;
        font-size: 14px;
    }
    header .header_container .logo {
        width: 140px;
    }
    .title_list li a {
        color: white;
        font-size: 12px;
    }
    .slick-wrap .slick-next {
        display: block;
    }
    .sqw-list li {
        font-size: 18px;
    }
    .car_item {
        /* background: white; */

    }
    .car_item .car_name {
        font-size: 38px;

    }
    .info_container {
        margin-top: 0;
    }
    .isuzu_nqr .car_image {
        width: 100%;
        text-align: center;
    }
    .isuzu_nqr .car_image img{
        width: 50%;
    }
    .sqw-list {
        margin: 0;
    }
    .car_btns1 {
        width: 100%;
        position: static;
        bottom: 0;
        left: 0;
        padding-bottom: 0;
    }
    .car_complects {
        padding-top: 0;
    }
    .cont_images {
        flex-flow: nowrap;
    }
    #map-dolgop {
        width: 100%;
    }
    .bottom-btn-wrap {
        flex-direction: column;
    }
    .bottom-btn-wrap {
        width: auto;
        display: flex;
        align-items: start;
        padding-left: 0;
        margin: 0 auto;
    }
    .bottom_addr {
        margin-left: 0;
    }
    .work_time {
        margin-left: 0;
    }
    .bottom_phone {
        margin-left: 0;
    }
    .contact_form {
        width: 100%;
        /* padding: 0 15px; */
    }
    .top-addres {
        flex-direction: column;
    }
    .top-addres .left-addr {
        flex-direction: row;
        padding-bottom: 10px;
    }
    .top-addres .right-addr {
        flex-direction: row;
    }
    .top_addr span {
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .top-addres .left-addr {
        flex-direction: column;
    }
    .top-addres .right-addr {
        flex-direction: column;
    }
    .top-addres .left-addr .top_addr,
    .top-addres .right-addr .top_addr {
        padding-right: 0;
    }
    header .header_container {
        justify-content: center ;
    }
    header .header_container .logo {
        padding: 5px 20px;
    }
    header .header_container .isuzu-logo {
        padding: 5px 20px;
    }
    .car_item .car_name {
        font-size: 24px;
    }
    .price-dell {
        font-size: 24px !important;
    }
    .info_container_title {
        margin-top: 0;
    }
    .cars_count b {
        font-size: 36px;
    }
    .cars_count font {
        padding-left: 0;
    }
    .sqw-list li {
        font-size: 12px;
    }
    .car_btns1 .btn,
    .car_btns2 .btn {
        font-size: 12px;
    }
    .contact_form_title {
        font-size: 18px;
    }
    .about_title {
        text-align: center;
        font-size: 18px;
    }
    .adds .item-img-wrapp {
        flex-shrink: 0;
    }
    .item-wrap .shild {
        width: 33px;
        height: auto;
    }
    header .header_container .btn {
        /* padding: 0 5px; */
    }
    .top_addr span {
        font-size: 12px;
    }
    .isuzu_nqr .car_btns1 {
        width: 100%;
        position: static;
    }
    .first_screen_bg {
        background: white url(../img/bgslider5.jpg) 95% no-repeat;
        padding-top: 0;
    }
    .midle-side {
        display: block;
        background: #00000052;
    }
    .title_list li a {
        font-size: 14px;
    }
}


